@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  font-size: 1.4rem;
  padding: 0 28px;
  position: fixed;
  left: 258px;
  right: 0;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid #e8ebed;
  background-color: #fff;
  border-left: 1px solid var(--divider-color);
}

.wrapper.transparent {
  background-color: transparent;
  border-bottom: none;
}

.inner {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 8px;
  flex-shrink: 0;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 38px;
}

.logo-heading:hover {
  text-decoration: none;
}
.logo-heading h4 {
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 16px;
}

.actions {
  display: flex;
  align-items: center;
}
.actions .register-btn {
  margin-right: 30px;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
}
.actions .login-btn {
  flex-shrink: 0;
  padding: 9px 20px;
  border-radius: 99px;
  color: #fff;
  background-color: var(--button-color);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.25s;
}

.wrap-popper {
  background: var(--white-color);
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
  animation: fadeIn ease 0.3s;
  border-radius: 10px;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  will-change: opacity, transform;
  color: #1d2129;
}

.wrap-popper.my-courses {
  min-width: 380px;
  padding-bottom: 12px;
}

.wrap-popper.notify {
  width: 400px;
}

.wrap-popper.profile {
  min-width: 230px;
  padding: 8px 24px !important;
}

.header {
  padding: 14px 20px 16px;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 1.8rem;
  margin: 0;
}

.content {
  max-height: 68vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.course-item,
.no-result {
  display: flex;
  margin: 0 8px;
  padding: 8px 12px;
  transition: background-color 0.3s;
  border-radius: 10px;
}
.course-item:hover,
.no-result:hover {
  background-color: rgba(22, 24, 35, 0.0509803922);
}

.course-thumb {
  width: 120px;
  height: 67px;
  display: block;
  border-radius: 8px;
  background-color: #ebebeb;
  text-align: center;
  line-height: 67px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-info {
  flex: 1;
  margin-left: 12px;
}

.course-title {
  margin-top: 12px;
  font-size: 1.4rem;
  margin: 6px 0 0;
  color: #000;
}

.last-completed {
  font-size: 1.2rem;
  margin: 4px 0 0;
  color: #666;
}

.my-course-btn {
  background-color: transparent;
  color: #333;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 16px;
  padding: 8px;
}

.view-all-btn {
  font-size: 1.4rem;
  margin-left: auto;
  color: var(--primary-color);
  padding: 8px;
  border-radius: 4px;
}
.view-all-btn:hover {
  color: var(--primary-color);
  background-color: #f1f1f1;
  text-decoration: none;
  outline: none;
}

.notify-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 36px 8px 12px;
  cursor: default;
  background-color: var(--white-color);
  transition: background-color 0.3s;
  margin: 0 8px;
  border-radius: 10px;
}

.actived {
  color: var(--primary-color);
}

.notification-btn {
  padding: 8px;
  position: relative;
}
.notification-btn:hover {
  cursor: pointer;
}

.notification-icon {
  color: #707070;
  font-size: 2rem;
}
.notification-icon:hover {
  color: #000;
}

.count-notification {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2px;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.avatar-wrapper {
  margin-left: 12px;
}
.avatar-wrapper:hover {
  cursor: pointer;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}

.message-wrapper {
  font-size: 1.4rem;
  padding: 0 10px 0 6px;
  line-height: 18px;
  color: var(--text-color);
  flex: 1;
  word-break: break-word;
}

.created-time {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 6px;
  color: var(--primary-color);
}

.user {
  display: flex;
  align-items: center;
}
.user:hover {
  text-decoration: none;
  cursor: pointer;
}

.avatar-profile {
  position: relative;
  margin: 10px 0;
}

.profile-info {
  margin-left: 20px;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #292929;
}

.username {
  margin-top: 4px;
  font-size: 1.4rem;
  color: #757575;
}

.profile hr {
  margin: 8px 0;
  border: none;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
}

.list {
  padding-left: 0;
  margin: 0;
  max-height: 68vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.list .item {
  font-size: 1.4rem;
  color: #666;
  display: block;
  padding: 10px 0;
  cursor: pointer;
}
.list .item:hover {
  color: #292929;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=Header.module.css.map */