.wrapper {
  padding: 40px;
}
.categories-container {
  padding: 20px;
  background-color: #f4f6f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &:focus {
      border-color: #007bff;
    }
    :hover {
      background: linear-gradient(to right bottom,var(--primary-color), var(--white-color));
    }
    
  }

  .categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .category-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 16px;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
      .category-name {
        margin-right: 8px;
      }
      &.active {
        border-color: var(--primary-color);
        color: var(--primary-color);
        background-color: #e6ebf4;

        .category-count {
          color: white;
          background-color: #ffffff;
        }
      }
      .category-count {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        border-radius: 12px;
        border: #f0f8ff;

        &.bg-purple {
          background-color: #6f42c1;
        }
        &.bg-green {
          background-color: #00b894;
        }
        &.bg-red {
          background-color: #dc3545;
        }
        &.bg-blue {
          background-color: #117a8b;
        }
        &.bg-yellow {
          background-color: #b99b41;
        }
        &.bg-gray {
          background-color: #343a40;
        }
        &.bg-primary {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

.container-alltemplates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
  margin-top: 20px;

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .col {
      flex: 1 1 calc(33.333% - 16px);
      max-width: calc(33.333% - 16px);
      min-width: 300px;
      display: flex;
      justify-content: center;
    }
  }

  .no-results {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
  }
}
