@keyframes shake {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-8px);
    }
    50% {
        transform: translate(8px);
    }
    75% {
        transform: translate(-8px);
    }
    100% {
        transform: translate(0);
    }
}

.success-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f9f0;
    border: 1px solid #d4edda;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .success-message h2 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .success-message p {
    font-size: 16px;
    color: #555;
  }
  
  .back-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #218838;
    }
  }
  
.label-group {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0 10px 8px;
    display: block;
}

.label.right {
    cursor: pointer;
    font-weight: 500;
    opacity: 0.7;
    font-size: 1.3rem;
    text-decoration: underline;
}

.input-wrap {
    position: relative;
    background: #fff;
    border: 1.5px solid var(--divider-color);
    border-radius: 44px;
    overflow: hidden;
    height: 44px;
    display: flex;

    &:focus-within {
        border-color: var(--button-color);
    }

    input {
        display: block;
        width: 100%;
        padding: 12px 42px 12px 20px;
        border: none;
        outline: none;
        font-size: 1.4rem;
        background-color: transparent;
    }
}

.input-wrap.invalid {
    border-color: var(--invalid-color);
    background-color: #ff00001a;
}
.input-wrap.disabled {
    background: #16182329;
}

.right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 140px;
    margin: 1px;
    border-radius: 44px;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
}

.right-btn.disabled {
    color: #757575;
    background-color: #ccc;
    cursor: not-allowed;
}

.right-btn:not(.disabled) {
    color: #fff;
    background: linear-gradient(to right bottom, #ff8f26, var(--primary-color));

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.error-icon {
    color: var(--invalid-color);
    animation: shake .5s ease-in-out;

    position: absolute;
    top: 50%;
    right: 18px;
    translate: 0 -50%;
}

.error-message, .helper {
    margin: 8px 0 8px 8px;
    color: var(--invalid-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}

.helper {
    color: #02875a;
    font-style: italic;
}

.submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    border: 1px solid var(--divider-color);
    font-weight: 500;
    line-height: 1.6rem;
    font-size: 1.6rem;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity 0.25s;
}

.submit-btn.loading {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.submit-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit-btn.rounded {
    border-radius: 999px;
}

.submit-btn.primary {
    color: #fff;
    background-color: var(--button-color);
    background-image: var(--button-image);
    border: none;
}


  