
.wrapper {
    font-size: var(--font-size);
    background: transparent;
    border-radius: 50%;
}

.img {
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        text-decoration: none;
    }
}