.wrapper {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}

.container {
    text-align: left;
    color: #292929;
    width: 100%;
}

.label-group {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0 10px 8px;
    display: block;
}

.label.right {
    cursor: pointer;
    font-weight: 500;
    opacity: 0.7;
    font-size: 1.3rem;
    text-decoration: underline;
}

.input-wrap {
    position: relative;
    background: #fff;
    border: 1.5px solid var(--divider-color);
    border-radius: 44px;
    overflow: hidden;
    height: 44px;
    display: flex;

    &:focus-within {
        border-color: var(--button-color);
    }
    
    input {
        display: block;
        width: 100%;
        padding: 12px 42px 12px 20px;
        border: none;
        outline: none;
        font-size: 1.4rem;
        background-color: transparent;
    }
}

.input-wrap.invalid {
    border-color: var(--invalid-color);
    background-color: #ff00001a;
}
.input-wrap.disabled {
    background: #16182329;
}

.error-icon {
    color: var(--invalid-color);
    animation: shake .5s ease-in-out;

    position: absolute;
    top: 50%;
    right: 18px;
    translate: 0 -50%;
}

.error-message {
    margin: 8px 0 8px 8px;
    color: var(--invalid-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}